<mat-toolbar color="primary">
  <mat-icon class="app-icon">token</mat-icon>
  <span class="appName">Integration Architectures</span>
  <div *ngIf="user.role !== 'admin' "><button class="menu-button" mat-flat-button color="primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="button.routerLink" *ngFor="let button of buttons">{{button.title}}</button></div>
  <button class="menu-button" mat-flat-button color="primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="button1.routerLink" *ngIf="user.role === 'hr' || user.role === 'ceo'">{{button1.title}}</button>
  <button class="menu-button" mat-flat-button color="primary" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="button2.routerLink" *ngIf="user.role === 'admin' ">{{button2.title}}</button>
  <!-- *ngFor specifies a foreach loop for rendering an element repeatedly; in double curly braces {{}} javascript-expressions/variables can be printed out to the page -->
  <span class="spacer"></span>
  <a style="font-size: 16px">{{ user.firstname + " " + user.lastname | uppercase}}</a>
  <button mat-icon-button aria-label="Logout button" (click)="handleLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
