<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Sales</h1>
    </mat-card-title>
  </mat-card-header>

  <table mat-table [dataSource]="Sales" class="mat-elevation-z8">

    <!--Client Column-->
    <ng-container matColumnDef="Customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element">{{ element['_client'] }}</td>
    </ng-container>

    <!--Product Column-->
    <ng-container matColumnDef="Products">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element['_nameOfProduct'][0] && element['_nameOfProduct'][1]">
          {{ element['_nameOfProduct'][0] }}, {{ element['_nameOfProduct'][1] }}
        </div>
        <div *ngIf="element['_nameOfProduct'][0] && !element['_nameOfProduct'][1]">
          {{ element['_nameOfProduct'][0] }}
        </div>
      </td>
    </ng-container>

    <!--Quantity Column-->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element['_items'][0] && element['_items'][1]">
          {{ element['_items'][0] | number: '1.0-0' }}, {{ element['_items'][1] | number: '1.0-0'  }}
        </div>
        <div *ngIf="element['_items'][0] && !element['_items'][1]">
          {{ element['_items'][0] | number: '1.0-0' }}
        </div>
      </td>
    </ng-container>

    <!--Client Ranking Column-->
    <ng-container matColumnDef="Ranking">
      <th mat-header-cell *matHeaderCellDef>Client Ranking</th>
      <td mat-cell *matCellDef="let element">{{ element['_clientRanking'] }}</td>
    </ng-container>

    <!--Bonus Column-->
    <ng-container matColumnDef="Bonus">
      <th mat-header-cell *matHeaderCellDef>Bonus</th>
      <td mat-cell *matCellDef="let element">{{ element['_bonus'] }}  $</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
